
$primary-color: #4e5a49;
$secondary-color: #343a40;
$background-color: #afa8a8;
$error-color: #A63A47;
$success-color:  #08723F;
$spinner-color: #eece19;
$sidebar-width: 250px;
$transition-speed: 0.3s;


/*button colors*/
$primary-button-color:$primary-color;
$btn-color:#afa8a8;
$btn-bg: $secondary-color;
//$modal-content-color: $secondary-color;
$modal-md:800px;
$modal-dialog-margin-y-sm-up: 18.75rem;
@import "~bootstrap/scss/bootstrap";


$body-bg: #f0f0f0;
$body-color: #333;

html {
    contain: layout style;
  }

body{
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: $background-color;
    color:$secondary-color;
    padding: 0px;
}

h1{
    color: rgb(26, 117, 187);
}



@mixin make-container {
    width: 90%;
    max-width: 1200px;
    height: auto;
    min-height: 95vh;
    background-color: #afa8a8;
    padding: 0px;
    margin: auto;   
    //border: solid black;   
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content-container {
    @include make-container();
}

@mixin make-nav-tab-content-container {
    width: 80%;
    height: auto;
    min-height: 95vh;
    background-color: #afa8a8;
    padding: 0px;
    margin: auto;   
    // border: solid black;   
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav-tab-content-container {
    @include make-nav-tab-content-container();
}

/*Orders Tab & Tab Pane*/
.nav-content {
  width: 100%;
  height: auto;
  min-height: 90vh;
  overflow-y: auto;
  max-height: 90vh;
  background-color: #EDF1EB;
  padding: 10px;
  margin: auto;
  //border: solid black;
  border-radius: 25px;
  justify-content: center;
  text-align: center;
}

.nav-tabs .nav-link {
    background-color: #4e5a49; // default bg
    color: #EDF1EB;
    border: 1px solid transparent;
    font-size: 1.1rem;
    font-weight: 600;
  
    &:hover {
      background-color: #cce093;
      color: #4e5a49;
    }
  
    &.active {
      background-color: $background-color; // 🔥 your custom active bg
      color: $secondary-color;
      //border-color: #007bff #007bff #fff;
    }
  }


// Make text and graphs responsive
.responsive-text {
    font-size: clamp(12px, 2vw, 24px);
    color: aliceblue;
}

.responsive-graph {
    width: 100%;
    max-width: 800px;
    height: auto;
}

// Wrapper for centering content
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    margin-left: 250px; // Default to match sidebar width
    transition: margin-left 0.3s ease; // Smooth transition  
    
    .sidebar.collapsed + & {
        margin-left: 80px; // Adjust when sidebar collapses
    }
}

.navbar {
    display: block !important;
    z-index: 1000;
  }


.sidebar {
    width: 250px;
    height: 100vh; /* Full height */
    //transition: width 0.3s ease;
    overflow: hidden;
    background-color: $secondary-color; /* Dark background */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

/* toggler button */
.navbar-toggler {
    background-color: $secondary-color;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
    width: 80px;
}
 

.sidebar .navbar-brand {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.sidebar.collapsed .navbar-brand{
    opacity: 0;
    transform: scale(0);
}

.sidebar .navbar-nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-left: 0;
}

.sidebar .nav-item {
    width: 100%;
    margin-bottom: 10px;
}

.sidebar .nav-link {
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease;
}

.sidebar .nav-link i {
    width: 40px;
    text-align: center;
    font-size: 1.5rem;
}

.sidebar.collapsed .nav-link span {
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
}

.sidebar .nav-link:hover {
    color: #f8f9fa;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

 /* Toggler Button */
 .sidebar-toggler {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.sidebar.collapsed .sidebar-toggler {
    transform: rotate(180deg);
}

.form-label {
    margin-bottom: 0.5rem;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
  }

@media (max-width: 768px) {

    @mixin make-container {
        width: 100%;
        max-width: 1200px;
        height: auto;
        min-height: 82vh;
        background-color: #afa8a8;
        padding: 0px;
        margin: auto;   
        // border: solid black;   
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content-container {
        @include make-container();
    }

    @mixin make-nav-tab-content-container {
        width: 100%;
        height: auto;
        min-height: 90vh;
        background-color: #afa8a8;
        padding: 0px;
        margin: auto;   
        //border: solid black;   
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .nav-tab-content-container {
        @include make-nav-tab-content-container();
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        padding-top: 60px;     
        //transition: margin-left 0.3s ease; // Smooth transition  
        margin: 0px;
    }
    
    .sidebar{
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        z-index: 1000;
    }
   
    .sidebar .navbar-brand {
        display: none;
    }

     /* Align Items Horizontally in footer*/
    .sidebar .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;    
    }

    /* Footer Nav Items */
    .sidebar .nav-item {
        margin-bottom: 0;
        flex: 1;
        text-align: center;        
    }

    /* Footer Nav Links */
    .sidebar .nav-link {
        font-size: 1rem;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*phone Tab & Tab Panes */
    .nav-content {
        width: 100%;
        height: auto;
        min-height: 90vh;
        background-color: #EDF1EB;
        padding: 10px;
        margin: auto;
        //border: solid black;
        border-radius: 25px;
        justify-content: center;
        text-align: center;
        padding-left: 20px;
        //padding-left: 14px;
      }
      
      .nav-tabs .nav-link {
          background-color: #4e5a49; // default bg
          color: #EDF1EB;
          border: 1px solid transparent;
          font-size: 2.5rem;
          font-weight: 100;         
          &:hover {
            background-color: #EDF1EB;
            color: #4e5a49;
          }
        
          &.active {
            background-color: #f0f0f0; // 🔥 your custom active bg
            color:$primary-color;
            //border-color: #EDF1EB #EDF1EB black;
          }
        }

        form {
            overflow-y: auto;
            max-height: 90vh;
          }
}

@media (max-width: 768px) {
    .sidebar-toggler {
        display: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

.primary-button{
    background-color: $primary-button-color;
    color:#f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: $primary-button-color;
    }
}

.secondary-button{
    background-color: $background-color;
    color:#f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: $background-color;
    }
}

.error-text{
    color: $error-color;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.error-box{
    border: 1px solid $error-color;
    background-color: $error-color;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    color: $background-color; 
}